# ATURAN PEMBUATAN TUGAS

1. Tugas Dikerjakan Secara Berkelompok (1 kelompok wajib 3 orang), setiap anggota wajib mengumpulkan di LMS yang telah disediakan
2. Ubah Nama Project Menjadi 
   perwakilanNim-Tugas3.ipynb
3. Format Penamaan Anggota Kelompok
   - nim-nama
4. Tuliskan jawaban setelah pertanyaan (insert cell bellow)
5. File yang dikumpulkan terdiri dari 3 bagian
   a. file python
   b. file dataset (no 7)
   c. file dataset (no 13)
6. masukan seluruh file kedalam folder dan kompres serta berikan nama perwakilanNim-Tugas3.zip

# Anggota Kelompok
1. 10122411- SAHL HAFIDZ IRKHAMI
2. ..................... - ..........................
3. ..................... - ..........................

# Soal No 1

Apakah Yang Dimaksud dengan duplikat data pada bahasa pemrograman python

# Soal No 2

Gunakanlah dataset Indian-Liver-Patient-Dataset-(ILPD).csv

# Soal No 3

Tuliskan Script untuk mencari duplikat data pada dataset Indian-Liver-Patient-Dataset-(ILPD).csv dan tampilkan baris data yang sama

# Soal No 4

Tuliskan Script untuk mencari duplikat data pada dataset Indian-Liver-Patient-Dataset-(ILPD).csv berdasarkan kolom 3
(ex data : 0.7, 10.9, 7.3)

# Soal No 5

Tuliskan Script untuk mencari duplikat data pada dataset Indian-Liver-Patient-Dataset-(ILPD).csv dan hapus data yang sama tersebut

# Soal No 6

Apakah yang dimaksud dengan Grouping Pada pemrograman data science

# Soal No 7

Gunakanlah dan tampilkan dataset csv berdasarkan pengambilan data dari kaggle (wajib melampirkan ketika pengumpulan tugas)

# Soal No 8

Buatlah contoh Grouping semua kolom berdasarkan satu kolom tertentu

# Soal No 9

Buatlah contoh Grouping beberapa kolom berdasarkan satu kolom tertentu

# Soal No 10

Buatlah Contoh Grouping berdasarkan dua kolom tertentu

# Soal No 11

Buatlah Contoh Grouping beberapa kolom dengan kriteria max dan min

# Soal No 12

Buatlah Contoh Kasus untuk mencari nilai mahasiswa terbesar dengan ketentuan :
1. data nilai mahasiswa diisi oleh user/pengguna
2. tampilkan nilai mahasiswa terbesar dan terkecil berdasarkan point no 1

# Soal No 13

Buatlah Contoh Kasus untuk menyimpan data scrapping html kedalam file csv

# Soal No 14

Berikut ini adalah data nilai mahasiswa
Andi     70
Rachel   80
Udin     35

Buatlah program untuk mencari nilai mahasiswa dengan ketentuan :
1. Data Mahasiswa Dimasukan Dari User
2. Data Nilai yang akan dicari dimasukan dari user
3. Tampilkan data nilai